@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* CSS Reset, Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  padding: 2rem;
  font-size: 1rem;
}

h1 {
  color: #f9efdb;
  margin-bottom: 20px;
}

p {
  color: #ebd9b4;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

/******** Main Styles ***********/

/* Layout */

.main-content {
  background-color: #313131b3;
  padding: 3rem;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 5px 15px 3px #000;
  max-width: 70%;
  width: 100%;
}

.main-content p {
  font-size: 1.2rem;
}

#bg-video {
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Profile card */
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
}

.social-media div:first-child a {
  color: #030637;
  background: #ebd9b4;
  padding: 0.5rem;
  border-radius: 6px;
  transition: all 0.2s ease-in;
}

.social-media div:first-child a:hover {
  background: #3c0753;
  color: #ebd9b4;
}

.social-media a:not(:last-child) {
  margin-right: 1rem;
}

.social-media .icon-hashnode,
.social-media .icon-medium {
  width: 35px;
  height: 35px;
}

/* Responsive Styles */
@media screen and (max-width: 760px) {
  .main-content {
    max-width: 100%;
  }

  .social-media .main-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .social-media .main-links a:not(:last-child) {
    margin-right: 0;
  }

  .social-media .social-links:not(:last-child) {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 460px) {
  body {
    padding: 1rem;
  }

  .main-content {
    padding: 2rem;
  }

  .main-content {
    font-size: 1rem;
  }
}
